.content {
  height: 100%;
}

.sider {
  overflow: auto;
}

.siderHeader {
  background-color: cornsilk;
  padding-left: 3pt;
}

.canvas {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 4pt;
  background-color: gray;
}

.canvasHeight:extend(.canvas) {
  height: calc(100% - 24pt);
}

.goPage {
  width: 240px;
}

.command {
  text-align: left;
  padding: 0.5em;
}

.cmdLabel {
  height: 36px;
  padding-top: 8px;
  padding-left: 2px;
  text-align: right;
}

.cmd {
  height: 36px;
  padding-top: 8px;
  padding-left: 2px;
}
