<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=11" />
    <meta name="description" content="Image Manage System" />
    <title>Image Manage System</title>

    <link rel="stylesheet" href="./css/react-contextmenu.css" />
    <link rel="stylesheet" href="./css/tui-image-editor.css" />
    <link rel="stylesheet" href="./css/drag-drop.css" />

    <script src="./js/core.js"></script>
    <script src="./js/fabric.js"></script>
    <script src="./js/react.js"></script>
    <script src="./js/react-dom.js"></script>
  </head>

  <body>
    <!--[if lte IE 10]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <div id="root"></div>
  </body>
</html>
